name: convert

on:
  schedule:
    - cron: '11 15 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  convert:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: main

      - name: Download Sources
        run: |
          curl -fsSL -o reward.txt https://edge.microsoft.com/abusiveadblocking/api/v1/blocklist
          if [ -n "${{ secrets.ALL_SOURCE }}" ]; then
            curl -fsSL -o all.txt "${{ secrets.ALL_SOURCE }}"
          fi

      - name: Run Extraction
        run: |
          mkdir -p scripts
          # 运行转换脚本提取 JSON 中的 url 并生成 Adblock 格式
          python3 scripts/extract.py reward.txt domains.txt
          if [ -f all.txt ]; then
            python3 scripts/extract.py all.txt all_domains.txt
          fi

      - name: Check for Changes & Commit
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Auto-update: Adblock rules [$(date +'%Y-%m-%d %H:%M')]"
          file_pattern: "*.txt"
          branch: main
          # 使用强制推送解决所有冲突
          push_options: '--force'
